
<% provide(:title, "#{@user.first_name} #{@user.last_name}") %>
<div class="row">
	<span class="span2">	
  <aside >
    <section>
      <h1>
      	
        <%= gravatar_for @user %>
        <br />
        <%= "#{@user.first_name} #{@user.last_name}" %>  
        
      </h1>
    </section>
  </aside>
  </span>
  <span class="span8 hero-unit"> 
  	 
  </span>
</div>
